/* BACKGROUNDS */

.gray-bg {
  background-color: $gray;
}

.white-bg {
  background-color: #ffffff;
}

.navy-bg {
  background-color: $navy;
  color: #ffffff;
}

.blue-bg {
  background-color: $blue;
  color: #ffffff;
}

.lazur-bg {
  background-color: $lazur;
  color: #ffffff;
}

.yellow-bg {
  background-color: $yellow;
  color: #ffffff;
}

.red-bg {
  background-color: $red;
  color: #ffffff;
}

.black-bg {
  background-color: #262626;
}