
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  border: 1px solid #ddd;
}

.ibox.collapsed .ibox-content{
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after, .ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: $ibox-title-bg;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-avatar-change{
  position: relative;
  &:hover:after {
    background-color: rgba(0,0,0,0.8);
  }
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    margin: 0 15px;
  }
  & ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #fff;
    z-index: 9;
    & li{
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      & a{
        color: #fff;
        &:hover{
          text-decoration: none;
        }
        & i{
          font-size: 28px;
        }
        & ul{
          list-style: none;
          padding: 10px 0;
          margin: 20px 0 0;
          position: absolute;
          top: 100%;
          left: 50%;
          width: 200px;
          margin-left: -100px;
          background-color: #fff;
          border-radius: 3px;
          display: none;
          box-shadow: 0 1px 4px rgba(0,0,0,0.5);
          -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        }
      }
    }
  }
}
.ibox-banner{
  position: relative;
  &:hover:after {
    background-color: rgba(0,0,0,0.8);
  }
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
  }
  & ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #fff;
    z-index: 9;
    & li{
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      & a{
        color: #fff;
        &:hover{
          text-decoration: none;
        }
        & i{
          font-size: 36px;
        }
        & ul{
          list-style: none;
          padding: 10px 0;
          margin: 20px 0 0;
          position: absolute;
          top: 100%;
          left: 50%;
          width: 200px;
          margin-left: -100px;
          background-color: #fff;
          border-radius: 3px;
          display: none;
          box-shadow: 0 1px 4px rgba(0,0,0,0.5);
          -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        }
      }
    }
  }
}
.ibox-gallery{
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;

  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.ibox-social{
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;

  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;

  & .social-share a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    border-radius: 2px;
    &.share-facebook {
      background: #4f66b4;
    }
    &.share-twitter {
      background: #47a0d4;
    }
    &.share-reddit {
      background: #cb4134;
    }
  }
}
.ibox{
  & .nav-tabs{
    background: #fafafa;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #ebeded;
  }
}

.ibox-content {
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;

  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  &.plus{
    border-left: 5px #6bbaff solid;
  }
  &.featured{
    border-left: 5px #ffb76b solid;
    background-color: #f3eae2;
  }
}
.ibox-sold{
  background: #f7f7f7;
  color: #b1b1b1;
  & a{
    color: #9e9e9e;
    &:hover{
      text-decoration: none;
    }
  }
  & img{
    opacity: 0.5;
  }
}
.ibox-content-two{
  background: #fafafa;
  border-top: 1px solid #ebeded;
  display: block;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  color: #757575;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid $border-color;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.ibox-content {
  clear: both;
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.ibox-title .label {
  float: left;
  margin-left: 4px;
}

.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

.ibox-tools a.btn-primary {
  color: #fff;
}

.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

.ibox .ibox-tools.open > .dropdown-menu {
  left: auto;
  right: 0;
}

.ibox.fullscreen {
  z-index: 2030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: 0;
}

.ibox.fullscreen .collapse-link {
  display: none;
}

.ibox.fullscreen .ibox-content {
  min-height: calc(100% - 48px);
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5,
.ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}

.ibox-content.text-box {
  padding-bottom: 0px;
  padding-top: 15px;
}

.ibox-first-dash{
  background: #e1e5e7;
  border-radius: 11px;
  border: 3px dashed #1ab394;
  padding: 60px 10px;
  width: 100%;
  text-align: center;
  & button{
    background: transparent;
    border: none;
    font-size: 20px;
    color: #1ab394;
  }
}